@import "variables";

.post {
  background-color: $bg-light;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: $border-radius;
  border: $border;

  .read-more {
    display: inline-flex;
    background-color: $accent;
    padding: 10px;
    border-radius: $border-radius;
  }

  .read-more:hover {
    background-color: white;
  }
}
