$accent: rgb(196, 55, 33);

$bg-light: rgb(50, 50, 50);
$bg-dark: rgb(26, 26, 26);

$table-bg-light: rgb(87, 87, 87);
$table-bg-dark: rgb(70, 70, 70);

$box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
$border-radius: 2px;
$border: 1px solid white;

$breakpoint-tablet: 768px;
